<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatchMKV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <BatchMKV.Properties.Settings>
      <setting name="MakeMKVPath" serializeAs="String">
        <value>C:\Program Files (x86)\MakeMKV</value>
      </setting>
      <setting name="AnalyzeSourcesAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConvertSourcesAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultOutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSourceAction" serializeAs="String">
        <value>archive</value>
      </setting>
      <setting name="ArchiveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ScanOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScanOnStartPath" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowStartX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutputOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SubtitleCompression" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioLPCMContainer" serializeAs="String">
        <value>raw</value>
      </setting>
      <setting name="AudioFLACCompression" serializeAs="String">
        <value>good</value>
      </setting>
      <setting name="AudioTranscodeDefault" serializeAs="String">
        <value>copy</value>
      </setting>
      <setting name="AudioTranscodeCodecs" serializeAs="String">
        <value />
      </setting>
      <setting name="MKVToolNixPath" serializeAs="String">
        <value>C:\Program Files\MKVToolNix</value>
      </setting>
      <setting name="ScanRecentFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentFoldersMax" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultAudioIncludeAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultAudioIncludeQuailty" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAudioIncludeNonFavourite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAudioIncludeFirst" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAudioLimit" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultAudioMainCore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultAudioOrder" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultSubtitleIncludeAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultSubtitleLimit" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DefaultSubtitleOrder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FavouriteLanguages" serializeAs="String">
        <value>eng</value>
      </setting>
      <setting name="DefaultSubtitleTrack" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScanSimultaneously" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanDrivePollInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ScanDrives" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TitlesIgnoreLength" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DefaultTitlesIgnoreMuted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultTitlesIncludeAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultTitlesIncludeWithinLength" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DefaultTitleName" serializeAs="String">
        <value>{name-default}</value>
      </setting>
      <setting name="DefaultTitleFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="RestoreSources" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClearFinishedSourcesOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearMissingSourcesOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PurgeSourceState" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PurgeSourceStateLastExecuted" serializeAs="String">
        <value>2016-01-01</value>
      </setting>
      <setting name="LastSourceSelectedID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DefaultAudioIncludeCommentaryTracks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultAudioCommentaryTrackName" serializeAs="String">
        <value>Commentary</value>
      </setting>
      <setting name="ErrorLogging" serializeAs="String">
        <value>False</value>
      </setting>
    </BatchMKV.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>